server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/finsmartdb
    username: finsmart
    password: finsmartpwd
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
  jackson:
    serialization.WRITE_DATES_AS_TIMESTAMPS: false
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
